<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campground</title>
    <%-include("../partials/style") %>
</head>
<body>
    <%-include("../partials/navbar") %>
    <ul>
        <% campgrounds.forEach(function(campground) { %>
            <li><a href="campgrounds/<%= campground._id %>"><%= campground.title %></a></li>
        <% }); %>
</body>
</html>